.text-area{
-fx-background-color: blue;
}
.framed.text-area {


    -fx-background-image:url("/image/1.jpg");
}

.framed.text-area . scroll-pane.viewport,
.framed.text-area .content {
    -fx-background-color: null;
}